
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

:root {
  --navbar-height:105px;
}


body{
  background: linear-gradient(#16ACDB 90%,white 100%);
}


#navbar{
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  width:100%;
  background: linear-gradient(90deg, white 0% ,#7AC0CC 30%,#7AC0CC 75%, white 100%);
  z-index: 1000;
  min-height: 105px;
  justify-content: space-between;

}

.navlinks{
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: clamp(0px, 2vw,50px);
  
}


@media(max-width:960px){
  .navlinks{
    gap:10px;
    flex-direction: row;
    justify-content: center;
     }
  #last {
   padding: 0px;
  }
}

#last{
  color: black;
 margin-right: 40px;
 position: relative;
}
#first{
  margin-left: 40px;
  position: relative;
  
}

.logo {
  width: clamp(50px, 20vw, 150px);
  height:auto;
}

.logo:hover{
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

.navlinks li, #last{
  transition: 0.2s ease-in;
}

.navlinks a, #last a {
  color: black;
  text-decoration:none;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}



#last{
  transform: scale(2);
}



@keyframes shake{
  0% {transform:translateX(0);}
  25%{transform:translateX(-5px);}
  50%{transform:translateX(5px)}
  75%{transform:translateX(-5px)}
  100%{transform:translateX(0)}

}

#last:hover{
  transform: scale(3);
}

.links:hover{
  text-decoration: underline;
  transform: translateY(10px);
}

#htitle{font-size:clamp(1rem, 5vw, 5rem);
        text-shadow: 4px 4px 4px blue;
        color: white;
        animation-name: topdown;
        animation-duration: 3s;
    }

@keyframes topdown{
    0%{ bottom:auto;
        transform: scale(0.1)
    }

  
    100%{
        bottom:auto;
        transform: scale(1)
    }
}


#mainsection{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  }

#textcontainer1{
display: flex;
position: absolute;  
flex-direction: column;
justify-content: space-evenly;
z-index: 1;
text-align: center;
gap: 30px;
}

#mainsection p{
  color:white;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
}



video{
  object-fit: cover;
  width:100vw;
  height: 80vh;
  pointer-events: none;
  margin: 0;
  padding: 0;
}


#section1{
display: flex;
flex-direction: column;
flex-wrap: wrap; 
justify-content: center; 
align-items: center; 
gap: 20px; 
position: relative; 
}

#sheyphoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 45%;
  margin-top: -85px;
}


#shey_portrait{
  position: relative;
  height:auto;
  width: 100%;
  object-fit: cover;
  margin: auto;
}

#S01{
  position: absolute;
  background-color: darkblue;
  font-size: clamp(2rem, 6vw, 6rem);
  color: white;
  border-radius: 10px;
  top: 50px;
  right: 2px;
}

 #quiensoy{
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  height: auto; 
  padding: 20px;
  background-color: #E3F1F3;
  border-radius: 25px 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  text-align: justify;
  position: absolute;
  left: 30px;
 }


 @media(max-width : 960px){
    #quiensoy{
      max-width: 100%;
      position: relative;
      order:-1;
      left: 0px;
      padding: 10px;
      
    }
    #sheyphoto{
      width: 70%;
      order:1;
    }

    #S01,#s02{
      display: none;
    }
 }
 




#quiensoy h2{
  font-size: clamp(1rem, 2vw, 2rem);
  padding-bottom: 10px;
}


#pquiensoy{
  font-size: clamp(0.75rem, 1vw, 2rem);
  text-align: justify;
  text-justify:auto;
}



 .custom-shape-divider-bottom-1735557974 {
  position: absolute;
  top: -250px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  object-fit: cover;
}

.custom-shape-divider-bottom-1735557974 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 270px;
}

.custom-shape-divider-bottom-1735557974 .shape-fill {
  fill: #16ACDB;
}


#section2{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

}
#rockdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#rock{
  position: relative;
  width: 100%;
  object-fit: cover;
  height: auto;
}


#test{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height:100%;
  position: absolute;
}
 
  

#s02{
  position: absolute;
  background-color: darkblue;
  font-size: clamp(2rem, 6vw, 6rem);
  color: white;
  border-radius: 10px;
  z-index: 0;
  top: 0px;
  left: 40px;
}
#textcontainer{
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
  height: auto;
  text-align: justify;
  background-color: #E3F1F3;
  border-radius: 25px 0px;
  top: 0px;
  right: 0px;
 }

 @media(max-width:960px){
  #test{
    width: 70%;
  }
  #textcontainer{
    right: 0;
  }
}





#textcontainer h2{
  font-size: clamp(1rem, 2vw, 2rem);
}


#pleemiblog{
  text-align: justify;
  text-justify:auto;
  font-size: clamp(0.75rem, 1vw, 2rem);
}



@media (max-width: 960px) {
  #textcontainer {
    top: 0; 
    max-width: 100%; 
    padding: 10px;
    background-color: rgb(227, 241, 243, 0.7) ;
  }

  #rock {
    height: 25vh;
  }
}


#footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footercontainer{
  padding: 10px;
  width: 100%;
  background: linear-gradient(90deg, white 0% ,#7AC0CC 30%,#7AC0CC 75%, white 100%);
}


#footerlist{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
 

.footerlinks{
  font-size: clamp(0.75rem, 1vw, 1rem);
}

/* --------------------------------------------------------------------------------------- */
                                      /* page conoceme */


 #bienvenidop2{
  position: relative;
  top: 100px;
  width: 100%;
  background-color: #EEECEC;
 }  
 

#sectiondivp2{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

 #txtcontainerp2{
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: justify;
  padding: 10px;
  height: auto;
  position: relative;
  margin-top: 50px;
 }


#txtcontainerp2 h2{
  font-size: clamp(1rem, 3vw, 3rem);
  padding-bottom: 10px;
}

#txtcontainerp2 p{
  font-size: clamp(0.75rem, 1vw, 2rem);
}


#photocontainerp2{
  display: flex;
  position: relative;
  width: 30%;
  height: 41vh;
  background-color: skyblue;
  }


#peru{
 display: flex;
 z-index: 0;
 position: absolute;
 padding: 20px;
 width: clamp(50px, 30vw, 400px);
}

#sydney{
  display: flex;
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 20px;
  width: clamp(50px,30vw, 350px);
}

@media(max-width:960px){
  #photocontainerp2,#txtcontainerp2{
    z-index: 1;
  }

  #photocontainerp2{
    width: 90%;
    height: 45vh;
    z-index: 0;
  }
  #txtcontainerp2{
    width: 90%;
    position:absolute;
    background-color: rgb(227, 241, 243, 0.7);
    top: 200px;
    }

  #peru,#sydney{
    width: clamp(100px,65vw, 350px);
  }
}


.custom-shape-divider-top-1735904696 {
  /* position: absolute; */
  /* top: 400px; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-shape-divider-top-1735904696 svg {

  position: relative;
  display: block;
  width: calc(10% + 1.03px);
  height: 100px;
}

.custom-shape-divider-top-1735904696 .shape-fill {
  fill: #FFFFFF;
}

#acercami{
  margin-top: 100px;
  display: flex;
  position: relative;
}

#acercamidiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#txtacer{
  display: flex;
  width: 40%;
  text-align: justify;
  flex-direction: column;
  
}
#txtacer h2{
  font-size: clamp(1rem, 3vw, 3rem);
  padding-bottom: 10px;
}

#txtacer p{
  font-size: clamp(0.75rem, 1vw, 2rem)
}

#acerphoto{
  display: flex;
  border: 3px solid white;
  border-radius: 50%;
}
  
#acerphoto img{
  border-radius: 50%;
  width: clamp(50px,40vw, 450px)
}


#section{
  display: flex;
}

#bottomdiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bottomimg{
  display: flex;
  flex-direction: column;
  width: clamp(50px,30vw, 350px)
}

#background{
  width: 50%;
  background: #E3F1F3;
  margin-top: 80px;
}

#bottomtxt{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 80px;
}

@media(max-width:960px){

  #acercami{
    margin-top: 100px;
    padding-top: 20px;
  }

  #txtacer{
    width:50%
  }

  #background{
    width: 95%;
    background: rgb(227, 241, 243, 0.7)
  }
  #bottomtxt{
    padding:20px;
    
  }

  #bottomimg{
    display: none;
    position: absolute;
    z-index: -1;
  }

}

#bottomtxt p{
  font-size: clamp(0.75rem, 1vw, 2rem);
}


#bottomtxt h2{
  font-size: clamp(1rem, 3vw, 3rem);
}


/* --------------------------------------------------------------------------------------- */
                                      /* page blog */

    #bodyp4{
      background: rgb(227, 241, 243)!important;
    }


    #sectionp3{
      background-color: rgb(227, 241, 243);
      margin-top: -5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }   
    
    #photosp3{
  
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
      #photosp3 img{
        width: clamp(50px,40vw, 350px);
        display: flex;
        border: 3px solid white;
      }

      #photoframe{
        background-color: rgb(78, 179, 197);
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        display: flex;
        flex-direction:column;
        width: clamp(50px,40vw, 450px);
        height: max-content;
      }

    #textp3{
      margin-top: 50px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      width: 40%;
    }
    #textp3 h2{
      padding-bottom: 10px;
      font-size: clamp(1rem, 3vw, 3rem);
    }
    #textp3 p{
      font-size: clamp(0.75rem, 1vw, 2rem);
    }
    
    
    .custom-shape-divider-bottom-1736068449 {
      top: 50px;
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotateY(360deg);
  }
  
  .custom-shape-divider-bottom-1736068449 svg {
      position: relative;
      display: block;
      width: calc(161% + 1.3px);
      height: 128px;
  }
  
  .custom-shape-divider-bottom-1736068449 .shape-fill {
      fill: rgb(78, 179, 197)
  }


  /* --------------------------------------------------------------------------------------- */
                                      /* page plan */

#bodyp5{
  background: rgb(227, 241, 243)!important;
}


#top5{
  position: relative;
  top: calc(var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#imgdivp5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#imgdivp5 img{
  object-fit: cover;
  height: 50%;
}


#txtp5{
  width: 50%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#txtp5 h2{
  font-size: clamp(1rem, 3vw, 3rem);
  padding-bottom: 40px;
}

#txtp5 p{
  max-width: 700px;
  font-size: clamp(0.75rem, 1vw, 2rem);
  font-weight: 600;
  text-align: justify;
  text-shadow: 1px 1px 1px white;
}


#descubre{
  margin-top: 105px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(166, 130, 74);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#dimgdiv{
  display: flex;
  padding: 20px;
}

#dimgdiv img{
  width: clamp(50px,40vw, 450px);
  display: flex;
  border: 3px solid white;
}


#dtxtdiv{
  text-align: justify;
  flex-direction: row;
  padding: 20px;
  max-width: 500px;
  min-width: 200px;
}

#dtxtdiv h2{
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
}

#dtxtdiv p {font-size: clamp(0.75rem, 2vw, 1rem);
}



#evalua{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(166, 130, 74);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#etxtdiv{
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  min-width: 200px;
}

#etxtdiv h2{
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
}

#etxtdiv p {
  font-size: clamp(0.75rem, 2vw, 1rem);
  
}


#eimgdiv{
  display: flex;
  padding: 20px;
}

#eimgdiv img{
  width: clamp(50px,40vw, 450px);
  display: flex;
  border: 3px solid white;
}

#revisa{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(166, 130, 74);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#rimgdiv{
  display: flex;
  padding: 20px;
}

#rimgdiv img{
  width: clamp(50px,40vw, 450px);
  display: flex;
  border: 3px solid white;
}

#rtxtdiv{
  display: flex;
  text-align: justify;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  min-width: 200px;
}

#rtxtdiv h2{
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
}

#rtxtdiv p {font-size: clamp(0.75rem, 2vw, 1rem);
}

#busca{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(166, 130, 74);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#btxtdiv{
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: justify;
  max-width: 500px;
  min-width: 200px;
}

#btxtdiv h2{
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
}

#btxtdiv p {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

#bimgdiv{
  display: flex;
  padding: 20px;
}


#bimgdiv img{
  width: clamp(50px,40vw, 450px);
  display: flex;
  border: 3px solid white;
}


  /* --------------------------------------------------------------------------------------- */
                                      /* page contactme */


     

   #topp6{
    display: flex;
    position: relative;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   }      
   #imgdivp6{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }   
   #txtdivp6{
    display: flex;
    text-align: justify;
    flex-direction: column;
    position: absolute;
    left: -200px;
    top: 0;
    background-color: rgba(153, 213, 221);
    border-radius: 20px 0 20px 0;
    width: clamp(50px,30vw, 450px);
   }
   
   #txtdivp6 h2{
    padding: 20px;
    font-size: clamp(1rem, 2vw, 3rem);
  }
  
  #txtdivp6 p {
    font-size: clamp(0.75rem, 2vw, 1rem);
    padding: 20px;
  }
  
   #imgdivp6 img{
    display: flex;
    width: clamp(300px,50vw, 700px);
    
   }


   #form{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 5px;
    bottom: 0px;
    right: 0;
   }


  #form input, textarea{
    background: rgb(227, 241, 243,0.7)
  }




  @media(max-width : 960px){
    #txtdivp6
    {
      left: 0;
      width: 100%;
      background-color: rgba(153, 213, 221, 0.7);
      border-radius: 0px;
  
    }

    #form{
      position: relative;
      background-color: rgb(158, 193, 192);
      
    }
    
  }


   /* --------------------------------------------------------------------------------------- */
                                      /* page vivir */



#vivir{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 105px;
  background: rgb(227, 241, 243);
  z-index: -1;
}


.lavidaflex{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

#vivir h2{
  padding: 20px;
  font-size: clamp(1rem, 2vw, 3rem);
  text-align: center;
}

#vivir p{
  font-size: clamp(0.75rem, 2vw, 1rem);
  padding: 20px;
}

#lavidaimg,#lavida2img{
  display: flex;
  flex-direction: row;
}

#lavidaimg img{
  width: 100%;
  object-fit:cover;
  height: 300px;
}


#lavida2img img{
  width: 100%;
}

#lavida3img img{
  width: 100%;
}

#lavidaimg4 img{
  width: 100%;
  margin-bottom: 105px;
}


@media(max-width: 960px){
  #lavidaimg img{
    height:200px;
  }
  .lavidaflex{
    max-width: 90%;
  }

  #vivir h2 p{
    padding:20px;
  }


}
